.listadereproduccion{
    min-height: 200px;
    max-height: 250px;
    overflow: auto;
}
.contenedor{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .menuHorizontal{
    display: flex;
    justify-content: flex-start; /* Alinear a la izquierda */
    gap: 5px;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    white-space: nowrap; /* Evita que los elementos se envuelvan en varias líneas */
    scrollbar-width: thin; /* Para navegadores Firefox */
    max-width: 95vw;
  }
  .cardCanciones:hover{
    cursor: pointer;
    background-color: #141618;
  }
    